// Define variables for your color scheme

// For example:
$red: #A62639;
$blue: #2AB7CA;
$yellow: #E8C547;
$orange: #FF8552;
$green: #295135;
$gray: #000000;
$light-gray: #F4F4F4;
$medium-gray: #333333;
